body {
	background-color: seagreen;
	font-family: Arial, sans-serif;
	height: 100vh;
	margin: 0;
	width: 100vw;
}

@media (max-width: 5em) and (max-height: 7em) {
	body {
		font-size: 50%;
	}
}

@media (min-width: 10em) and (min-height: 14em) {
	body {
		font-size: 150%;
	}
}

@media (min-width: 15em) and (min-height: 21em) {
	body {
		font-size: 200%;
	}
}

@media (min-width: 20em) and (min-height: 28em) {
	body {
		font-size: 300%;
	}
}