name: Deploy
on:
  push:
    branches:
    - main

jobs:
  deploy-pages:
    name: Deploy to pages
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: '24'
    - name: Install dependencies
      run: npm ci
    - name: Build static file bundle
      run: |
        echo "VITE_COMMIT=\"${GITHUB_SHA}\"" >> .env
        npm run build -- --base https://pileon.net/
        cp dist/index.html dist/404.html
        touch dist/.nojekyll
    - name: Deploy to pages
      uses: JamesIves/github-pages-deploy-action@9d877eea73427180ae43cf98e8914934fe157a1a # 4.7.6
      with:
        branch: gh-pages
        folder: dist
        clean: true
