name: Deploy
on:
  push:
    branches:
    - main

jobs:
  deploy-pages:
    name: Deploy to pages
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
    - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: '24'
    - name: Install dependencies
      run: npm ci
    - name: Build static file bundle
      run: |
        echo "VITE_COMMIT=\"${GITHUB_SHA}\"" >> .env
        npm run build -- --base https://pileon.net/
        cp dist/index.html dist/404.html
        touch dist/.nojekyll
    - name: Deploy to pages
      uses: JamesIves/github-pages-deploy-action@132898c54c57c7cc6b80eb3a89968de8fc283505 # 3.7.1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: dist
        CLEAN: true
