name: Deploy
on:
  push:
    branches:
    - main

jobs:
  deploy-pages:
    name: Deploy to pages
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
    - uses: actions/setup-node@7c12f8017d5436eb855f1ed4399f037a36fbd9e8 # v2.5.2
      with:
        node-version: '24'
    - name: Install dependencies
      run: npm ci
    - name: Build static file bundle
      run: |
        echo "VITE_COMMIT=\"${GITHUB_SHA}\"" >> .env
        npm run build -- --base https://pileon.net/
        cp dist/index.html dist/404.html
        touch dist/.nojekyll
    - name: Deploy to pages
      uses: JamesIves/github-pages-deploy-action@9d877eea73427180ae43cf98e8914934fe157a1a # 4.7.6
      with:
        branch: gh-pages
        folder: dist
        clean: true
