name: Deploy
on:
  push:
    branches:
    - main

jobs:
  deploy-pages:
    name: Deploy to pages
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: '24'
    - name: Install dependencies
      run: npm ci
    - name: Build static file bundle
      run: |
        echo "VITE_COMMIT=\"${GITHUB_SHA}\"" >> .env
        npm run build -- --base https://pileon.net/
        cp dist/index.html dist/404.html
        touch dist/.nojekyll
    - name: Deploy to pages
      uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # 4.8.0
      with:
        branch: gh-pages
        folder: dist
        clean: true
